In [1]:
# import the wine dataset
import pandas as pd

In [2]:
data=pd.read_csv('D:/Naresh/Python/python Datasets/winequality_white.csv')

In [3]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [5]:
# split the data into train and test set
x=pd.DataFrame(data.iloc[:,:-1])

In [6]:
x.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [7]:
y=pd.DataFrame(data.iloc[:,-1])

In [8]:
y.head()

   quality
0        6
1        6
2        6
3        6
4        6

In [9]:
x.shape

(4898, 11)

In [10]:
y.shape

(4898, 1)

In [11]:
# Train the model
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [13]:
x_train.shape

(3428, 11)

In [14]:
y_train.shape

(3428, 1)

In [15]:
y_test.shape

(1470, 1)

In [16]:
# Make prediction
from sklearn.linear_model import LinearRegression

In [17]:
model=LinearRegression()

In [18]:
model.fit(x_train,y_train)

LinearRegression()

In [21]:
model.intercept_

array([134.49433807])

In [22]:
x_pred=model.predict(x_test)

In [23]:
x_pred

array([[5.22901188],
       [5.54653092],
       [6.11293343],
       ...,
       [5.95521601],
       [5.44988236],
       [6.25912797]])

In [24]:
x_pred.shape

(1470, 1)

In [25]:
y_test[:10]

      quality
2414        4
1584        6
3248        7
645         5
3163        7
4895        6
600         6
1379        6
1554        7
643         5

In [26]:
x_test[:10]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
2414,6.2,0.38,0.18,7.4,0.095,28.0,195.0,0.99773,3.53,0.71,9.2
1584,6.4,0.25,0.74,7.8,0.045,52.0,209.0,0.99560,3.21,0.42,9.2
3248,6.4,0.25,0.37,4.5,0.039,41.0,147.0,0.99210,3.18,0.40,11.1
645,6.3,0.26,0.25,7.8,0.058,44.0,166.0,0.99610,3.24,0.41,9.0
3163,7.1,0.36,0.37,4.8,0.019,39.0,114.0,0.99036,3.08,0.49,12.7
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4
600,6.7,0.30,0.35,1.4,0.180,36.0,160.0,0.99370,3.11,0.54,9.4
1379,6.9,0.46,0.20,0.9,0.054,5.0,126.0,0.99200,3.10,0.42,10.4
1554,7.9,0.42,0.49,8.2,0.056,32.0,164.0,0.99650,3.29,0.60,11.2
643,6.4,0.24,0.28,11.5,0.050,34.0,163.0,0.99690,3.31,0.45,9.5

In [27]:
from sklearn.metrics import r2_score

In [30]:
r2_score(y_test,x_pred)

0.27604869875482463