In [ ]:
import numpy as np
import pandas as pd
import statistics as st
from statistics import StatisticsError

#Create a table in excel, table should have 2 columns named x and y.
#a. ‘x’ column should have numbers from 1-5.
#b. ‘y’ should have numbers 2,4,5,4,2
#c. Now calculate the mean of columns x and y.
#d. Calculate the mode of column x.
#e. Calculate the standard deviation of column y.
#f. Atlast calculate the range of columns x and y seperatly.

In [ ]:
data = pd.read_csv("M3A1.csv")
data.head()

   X  Y
0  1  2
1  2  4
2  3  5
3  4  4
4  5  2

In [ ]:
mean_x = st.mean(data.X)
mean_x

mean_y = st.mean(data.Y)
mean_y

3.4

In [ ]:
try:
  mode_x = st.mode(data.X)
except StatisticsError:
  pass

In [ ]:
stdev_y = st.stdev(data.Y)
stdev_y

1.3416407864998738

In [ ]:
min_x = min(data.X)
max_x = max(data.X)

print("The range of x is %s, %s" %(str(min_x), str(max_x)))

min_y = min(data.Y)
max_y = max(data.Y)

print("The range of x is %s, %s" %(str(min_y), str(max_y)))

The range of x is 1, 5
The range of x is 2, 5